* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

.container {
  max-width: 352px;
  padding: 0 16px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* -------Header mobile version------- */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
}

.header-logo-style {
  color: #2e2f42;
}

.header-list {
  display: none;
}

.header-contacts-list {
  display: none;
}

.header-burger-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 5px;
  width: 24px;
  height: 24px;
  fill: #2f2f37;
}

/* -------Mobile menu------- */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100%;
  height: 100%;
  z-index: 10000;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  height: 100%;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e7e9fc;
}

.menu-close-icon {
  fill: #2e2f42;
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-link-current {
  color: #404bbf;
}

.mobile-adress-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.mobile-list-item {
}

.mobile-list-links {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-social-list {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.mobile-social-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-social-icons {
  fill: #fff;
}

/* -------Hero------- */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero-mob-1x.jpg);
  margin: 0 auto;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #ffffff;
  padding: 72px 52px;
}

@media screen and (min-resolution: 2x) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-mob-2x.jpg);
  }
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  width: 216px;
  margin-bottom: 72px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------Advantages mobile version------- */

.advantages {
  padding-bottom: 96px;
  padding-top: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icons-block {
  display: none;
}

.advantages-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-menu-item {
  width: 288px;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* -------Team mobile version------- */

.team {
  background-color: #f4f4fd;
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.team-list-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px;
  width: 264px;
  height: 428px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  max-width: 264px;
  height: 428px;
}

.team-item-text {
  padding: 0px 16px;
}

.team-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.team-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

.team-social-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.team-social-item {
  width: 40px;
  height: 40px;
}

.team-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-social-icons {
  fill: #f4f4fd;
}

/* -------Portfolio mobile version------- */

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 72px;
  color: #2e2f42;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.portfolio-list-item {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-layout-text {
  display: none;
}

.portfolio-list-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  font-weight: 500;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-text {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* -------Footer mobile version------- */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.footer-container-text {
}

.footer-logo {
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 17px;
  line-height: 1.17;
}

.footer-logo-style {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 288px;
  font-weight: 400;
  font-size: 16px;
}

.footer-container-media {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-media-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
}

.footer-social-icons {
  fill: #f4f4fd;
}

.footer-input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-input-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #fff;
  background-color: transparent;
  opacity: 0.6;
}

.footer-input::placeholder {
  color: #fff;
}

.footer-input-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.footer-input-icon {
  fill: #fff;
}
/* -------Modal backdrop mobile version------- */
.modal-backdrop-hidden {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop-hidden.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fcfcfc;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  fill: #2e2f42;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
  width: 100%;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.form-item {
  margin-bottom: 8px;
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}

.form-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  outline: transparent;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding: 8px 16px 8px 38px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
}

.form-item-textarea {
  margin-bottom: 16px;
}

.form-textarea {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
}

.form-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  opacity: 0.5;
}

.checkbox-container {
  margin-bottom: 24px;
  display: flex;
}

.form-label-checkbox {
  position: relative;
  display: block;
  width: 256px;
  padding-left: 24px;
  margin-bottom: 0;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.form-agreement-container {
  position: absolute;
  top: 2px;
  left: 0;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-icon {
}

.modal-privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.form-checkbox:checked + .form-label-checkbox > .form-agreement-container {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.form-button {
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  margin: 0 auto;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

/* -------TABLET SCREEN------- */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /* -------Header tablet version------- */
  .header-navigation {
    font-weight: 500;
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-list-link {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link-current {
    color: #404bbf;
    position: relative;
  }

  .header-link-current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
  }

  .header-contacts-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  .header-contact-links {
    font-style: normal;
    color: #434455;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-burger-button {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  /* ---------Hero tablet version-------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-tab-1x.jpg);
    padding: 112px 136px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-tab-2x.jpg);
    }
  }

  .hero-title {
    width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }

  /* -------Advatages tablet version------- */

  .advantages-menu {
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-menu-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: left;
  }

  /* -------Team tablet version------- */

  .team-list {
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
    margin: 0;
  }

  /* -------Portfolio tablet version------- */

  .portfolio-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }

  /* -------Footer tablet version------- */

  .footer-container {
    justify-content: flex-start;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }

  .footer-container-text {
  }

  .footer-text {
    max-width: 264px;
  }

  .footer-container-media {
    align-items: flex-start;
  }

  .footer-input-container {
    flex-direction: column;
  }

  .footer-form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  /* -------Modal tablet version------- */

  .modal {
    padding-right: 24px;
    padding-left: 24px;
  }

  .form-label-checkbox {
    width: 360px;
  }

  .form-agreement-container {
    top: 50%;
    transform: translateY(-50%);
  }
}

/* -------Desktop SCREEN------- */

@media screen and (min-width: 1158px) {
  a:hover,
  a:focus,
  .header-logo:hover,
  .header-logo:focus,
  .footer-logo:hover,
  .footer-logo:focus {
    color: #404bbf;
  }

  .header-logo-style:hover,
  .header-logo-style:focus,
  .footer-logo-style:hover,
  .footer-logo-style:focus {
    color: inherit;
  }

  button:hover,
  button:focus {
    background-color: #404bbf;
  }

  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  /* -------Header desktop version------- */

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contact-links {
    letter-spacing: 0.02em;
  }

  /* -------Hero desktop version------- */

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/hero-comp-1x.jpg);
    padding-top: 188px;
    padding-bottom: 188px;
  }

  @media screen and (min-resolution: 2x) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/hero-comp-2x.jpg);
    }
  }

  /* -------Advantages desktop version------- */

  .advantages {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .advantages-menu {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-menu-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
  }

  .advantages-text {
    font-weight: 400;
  }

  /* -------Team desktop version------- */

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    gap: 24px;
    flex-wrap: nowrap;
  }

  .team-list-item {
    width: calc((100% - 72px) / 3);
  }

  .team-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
  }

  /* -------Portfolio desktop version------- */

  .portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .portfolio-list {
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-layout {
    position: relative;
    overflow: hidden;
  }

  .portfolio-layout-text {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
  }

  .portfolio-list-item:hover .portfolio-layout-text {
    transform: translateY(0);
  }

  .portfolio-list-item:hover {
    box-shadow: 0 1px 6px rgba(46, 47, 66, 0.08),
      0 1px 1px rgba(46, 47, 66, 0.16), 0 2px 1px rgba(46, 47, 66, 0.08);
  }

  /* -------Footer desktop version------- */

  .footer {
    padding: 100px 0;
  }

  .footer-container {
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-left: 0;
    column-gap: 0;
    row-gap: 0;
  }

  .footer-container-text {
    margin-right: 120px;
    max-width: 264px;
  }

  .footer-container-media {
    margin-right: 80px;
  }

  .footer-social-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }

  /* -------Modal desktop version------- */

  .modal-close-button:hover {
    background-color: #404bbf;
    border: none;
  }

  .modal-close-button:focus {
    background-color: #404bbf;
    border: none;
  }

  .modal-close-button:hover .modal-icon {
    fill: #fff;
  }

  .modal-close-button:focus .modal-icon {
    fill: #fff;
  }

  .form-input {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .input-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-input:focus {
    border-color: #4d5ae5;
  }

  .form-input:focus + .input-icon {
    fill: #4d5ae5;
  }

  .form-item-textarea {
    margin-bottom: 16px;
  }

  .form-textarea {
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .form-textarea:focus {
    border-color: #4d5ae5;
  }
  .form-button {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
