* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 352px;
  padding: 0 16px;
  margin: 0 auto;
}

.hidden {
  display: none;
}
/* -------Header------- */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.header-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: 'Raleway', sans-serif;
}

.header-logo-style {
  color: #2e2f42;
}

.header-list {
  display: none;
}

.header-contacts-list {
  display: none;
}
.header-burger-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 5px;
  width: 24px;
  height: 24px;
  fill: #2f2f37;
}

/* -------Hero------- */
.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background.jpg);
  margin: 0 auto;
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 767px;
  background-size: cover;
  color: #ffffff;
  padding: 72px 52px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  width: 216px;
  margin-bottom: 72px;
}

.hero-button {
  display: block;
  background-color: #4d5ae5;
  font-family: 'Roboto', sans-serif;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  cursor: pointer;
  margin: 0 auto;
  min-width: 169px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------Advantages------- */

.advantages {
  padding-bottom: 96px;
  padding-top: 96px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-icons-block {
  display: none;
}

.advantages-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-menu-item {
  width: 288px;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .header-navigation {
    font-weight: 500;
    color: #2e2f42;
    display: flex;
    align-items: center;
    gap: 120px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .header-list-link {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-link-current {
    color: #404bbf;
    position: relative;
  }

  .header-link-current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    background-color: #404bbf;
  }

  .header-contacts-list {
    display: flex;
    gap: 12px;
    flex-direction: column;
    align-items: center;
  }

  .header-contact-links {
    font-style: normal;
    color: #434455;
    letter-spacing: 0.04em;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-burger-button {
    display: none;
  }

  .hero {
    max-width: 1157px;
    padding: 112px 136px;
  }

  .hero-title {
    width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
  }

  .advantages-menu {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .advantages-menu-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  a:hover,
  a:focus,
  .header-logo:hover,
  .header-logo:focus,
  .footer-logo:hover,
  .footer-logo:focus {
    color: #404bbf;
  }

  .header-logo-style:hover,
  .header-logo-style:focus,
  .footer-logo-style:hover,
  .footer-logo-style:focus {
    color: inherit;
  }

  button:hover,
  button:focus {
    background-color: #404bbf;
  }
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }

  .header-logo {
    margin-right: 76px;
  }

  .header-contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-contact-links {
    letter-spacing: 0.02em;
  }

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .advantages {
    padding-bottom: 120px;
    padding-top: 120px;
  }

  .advantages-menu {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .advantages-menu-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icons-block {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    color: #2e2f42;
  }

  .advantages-text {
    font-weight: 400;
  }
}
